black==22.6.0
click==8.1.3
feedparser==6.0.10
mypy-extensions==0.4.3
nose2==0.12.0
parse==1.19.0
pathspec==0.9.0
platformdirs==2.5.2
sgmllib3k==1.0.0
shove==0.6.6
stuf==0.9.16
tomli==2.0.1
typing_extensions==4.3.0
